*{
  margin: 0%;
  padding: 0%;
}

main{
  background-color: rgb(90, 90, 90);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.footer{
  background-color: #212121;

}

.rodape{
  color: whitesmoke;
  font-size: 1rem;
  opacity: 0.5;
}
