*{
    margin: 0%;
    padding: 0%;
}

main{

    background-image: url("../img/template.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.tracking-in-expand {
	animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  color: white;
  text-shadow:0 0 15px #ffffff, 0 0 15px #ffffff;
  font-size: 4.2rem;
}

.tracking-in-expand2 {
	animation: tracking-in-expand2 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  color: white;
  text-shadow:0 0 15px #ffffff, 0 0 15px #ffffff;
  font-size: 1.5rem;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand2 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

  /* resto das coisas */

  h2 {
   font-size: 1.8rem;
  }
  .container {
    margin-top: 20vh;
  }
  
  body {
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
  }  
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }

.infos{
  background-color: black;
  height: 15rem;
}

.titulo{
  color: rgb(245, 245, 245);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.titulo2{
  color: rgb(245, 245, 245);
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}
.texto{
  color: rgba(245, 245, 245, 0.801);
  font-size: 1rem;
  text-align: center;
}
.texto1{
  color: rgba(245, 245, 245, 0.801);
  font-size: 1.2rem;
  text-align: center;
}
  
.pe{
  background-color: black;
  color: rgba(245, 245, 245, 0.555);
  font-size: 0.9rem;
  text-align: center;
}

hr{
  border-color: rgba(255, 255, 255, 0.555);
}


